@font-face {
    font-family: Maplestory;
    src: url('../font/Maplestory-Light.ttf');
}

*{
    margin:0%; padding:0%; box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Maplestory';
    /* background: linear-gradient(135deg, #c9a7ff, #ffc8db); */
}

.big_box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.small_box_01{
    background: wheat;
}

.small_box_02{
    background: violet;
}

.country_box{
    background: rgb(172, 255, 169);
}