@font-face {
    font-family: Maplestory;
    src: url('../font/Maplestory-Light.ttf');
}

*{
    margin:0%; padding:0%; box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Maplestory';
    /* background: linear-gradient(135deg, #c9a7ff, #ffc8db); */
    margin-bottom: 10px;
}

* p{
    font-size: 25px;
}

.big_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

#go_home{
    position: absolute;
    top: 3rem;
    left: 75rem;

    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../image/home_btn.png');
    background-size: cover;
}

.title_name{
    margin-top: 100px;
}

.small_box_01{
    background: linear-gradient(135deg, #c9a7ff, #ffc8db);
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 15px;
}

.small_box_02{
    background: linear-gradient(135deg, #c9a7ff, #ffc8db);
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 15px;
}

.country_box{
    background: linear-gradient(135deg, #c9a7ff, #ffc8db);
    border-radius: 7px;
    padding: 15px;
}

input, label{
    font-size: 22px;
}

label{
    font-size: 20px;
}

select{
    font-size: 18px;
}

#country_p{
    font-size: 23px;
    padding: 3px;
}

button{
    font-size: 18px;
    background-color: rgb(210, 255, 199);
    padding: 5px;
    border-radius: 5px;
}