@font-face {
    font-family: Maplestory;
    src: url('../font/Maplestory-Light.ttf');
}

*{
    margin:0%; padding:0%; box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Maplestory';
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;
    /* border: 10px solid rgb(255, 218, 163); */
}


.home{
    display: flex;
    align-items: stretch;
    
}

.h_main{
    /* flex: 1; */
    flex-direction: column;
}

.header{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 15px;
}

.header_search_box{
    grid-column: 2;
    justify-self: center;
    margin: 0px;
    display: flex;
    align-items: center;
}

#search_box_input{
    width: 880px;
    height: 40px;
}

.header_login_box{
    grid-column: 3;
    justify-self: end;
    display: flex;
    gap: 10px;
    height: 40px;
}

#login{
    width: 60px;
    padding: 10px;
    background: linear-gradient(135deg, #c9a7ff, #ffc8db);
    border-radius: 5px;
    text-decoration: none;
}

#Mypage_icon{
    display: block;
    width: 50px;
    padding: 10px;
    background-image: url("../image/home_btn.png");
    background-size: cover;
    border-radius: 5px;
    text-decoration: none;
}

#push{
    width: 50px;
    padding: 10px;
    background-image: url("../image/push_1.png");
    /* background: #ffce83dc; */
    border-radius: 5px;
    text-decoration: none;
}

.side{
    width: 180px;
    border: 3px solid rgb(221, 49, 255);
    flex: 0 0 180px;
    background: linear-gradient(135deg, #c9a7ff, #ffc8db)
}

.side_btn{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 30px;
    gap: 10px;

}

.side_btn button{
    background-color: #ff54cc;
    height: 40px;
    color: #fdff85;
    font-weight: bold;
    font-size: 15px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.header_box{
    margin-left: 1rem;
}

.header_box p{
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.body_box{
    background-color: #eadeff;
    padding: 3rem;
    margin: 0.8rem;
    border-radius: 10px;
}

.col_num_box{
    background-color: #c9a7ff;
    border-bottom: none;
}

.column_list{
    border-collapse: collapse;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0rem;
    margin: 1rem;
    margin-top: 40px;
}

.col_line{
    border-bottom: 2px dotted #ff854c
}

.col_last_line{
    border-bottom: 1px solid #ff854c
}

.column_list th, td{
    padding: 15px 10px;
}

.col_no{width: 15%;}
.col_title{width: 48%;}
.col_writer{width: 15%;}
.col_day{width: 10%;}
.col_view{width: 10%;}

.num_btn{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn{
    display: inline-block;
    width: 3rem;
    padding: 1rem 0rem;
    background-color: #c885ff;
    font-size: 1rem;
    /* text-decoration: none; */
    text-align: center;
}

.selected{
    background-color: #7fff73;
    border-color: #fdff85;
}

.write_btn{
    display: block;
    background-color: #7fff73;
    width: 80px;
    padding: 7px;
    font-size: 1.3rem;
    text-align: center;
    margin-left: auto;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.foot{
    border: 2px solid green;
    /* height: 100px;/ */
}

.foot_box{
   display: flex;
}

#foot_logo{
    border: 2px solid yellowgreen;
    width: 110px; height: 100px;
}